[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
geopandas = "*"
tensorboard = "*"
geojson = "*"
pytorch-ignite = "==0.4.0.dev20200122"
pytorch-metric-learning = "*"
tqdm = "*"

[packages]
torch = "==1.11.0"
torchvision = "*"
httpx = "==0.11.1"
shapely = "*"
utm = "*"
flask-restful = "*"
scikit-image = "*"
gunicorn = "*"
folium = "*"

[requires]
python_version = "3.7"
