[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pandas = "*"
sklearn = "*"
pytorch-ignite = "*"
matplotlib = "*"
geopandas = "*"
tensorboard = "*"
geojson = "*"

[packages]
torch = "*"
torchvision = "*"
httpx = "*"
shapely = "*"
utm = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
